# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Firecracker
firecracker-v1.11.0-x86_64.tgz
release-v-11.0-x86_64
agent/target/
agent/Cargo.lock
firecracker-agent

# Python
__pycache__
tests/
/backend/release-v1.11.0-x86_64
/backend/release-v1.4.0-x86_64
firecracker-v1.4.0-x86_64.tgz

# Images
*.ext4
vmlinux.bin

# Temp Ignores
test.sh
test.py
testscript.sh
local_runner.sh
output.txt
venv
.venv
.agent
Cargo.lock
firecracker.tar.gz
agenti